@charset "utf-8";

body {
	margin:0;
 	padding:0;
}

/* HEADER */

#head {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color: #0982db;
	color: #FFFFFF;
	padding:20px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#logo {
	margin-right:20px;
}

/* BOITE QUI COMPREND LE MENU DE GAUCHE + LE CONTENU */

#content {
	clear: both;
	overflow: auto;
	display:flex;
	flex-direction: row;
}

/* MENU DE GAUCHE */

#sidebar {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	background-color: #333333;
	padding-top:40px;
	padding-left:70px;
	padding-right:70px;
}

#sidebar ul {
	display: flex;
	flex-direction: column;
	text-align: left;
}

#sidebar ul li {
	list-style-type:none;
	padding:10px;
}


#sidebar ul li a {
	font-size: 14px;
}

#sidebar ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.current 
{	
	color: #DA9522;
	font-size: 50px;
}

#sidebar h2 {
	font-size: 14px;
}


/* CONTENU A DROITE */

#content .mainContent {
	height:100%;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	font-family: 'Montserrat', sans-serif;
}

/* --------------- FORMULAIRE --------------- */

.table1{
	margin-top:20px;
	margin-bottom:20px;
}

.table2{
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:20px;
}

.label1{
	margin-right: 50px;
}

.input1{
	border: thin solid #dbdbdb;
	border-radius: 4px 4px 4px 4px;
	background-color: #fcfcfc;	
	padding:4px;
	margin:auto;
}

.input2{
	text-align: center;	
}

.input3{
	border-radius: 4px 4px 4px 4px;
	background-color: #fcfcfc;	
	padding-top:4px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:4px;
	margin:auto;
	margin-top:15px;
	border: thin solid dimgray;
	margin-bottom:15px;
}

.label2{
	margin-right: 40px;
	font-weight: bold;
}

.textarea1{
	border: thin solid #dbdbdb;
	width: 400px;
	height: 150px;
	background-color: #fcfcfc;
	border-radius: 4px 4px 4px 4px;
}

#hide{
	border:none;
	margin-bottom:20px;
}

/* TABLEAU */

.tab1 table {
	margin-top:20px;
	border-collapse: collapse;
	text-align: left;
	border: thin solid black;
}

.tab1 {
	font: normal 10px;
	font-family: 'Montserrat', sans-serif;
	background: #FFFFFF;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tab1 table td, .tab1 table th {
	padding: 3px 10px;
	min-width: 50px;
	border: thin solid black;
}

.tab1 table thead th {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.dsi {
	background-color:#0982DB;
}

.adm {
	background-color:#78A419;
}

.acc {
	background-color:#F9A41E;
}

.tab1 table thead th:first-child {
	border: none;
}

.tab1 table tbody td {
	font-size: 12px;
	font-weight: normal;

}.tab1 table tbody td:first-child {
	border-left: none;
}

.tab1 table tbody tr:last-child td {
	border-bottom: none;
}

/* GENERAL */

h1 {
	margin:0;
	padding:0;
}

h2 {
	margin:0;
	padding:0;
}

h3 {
	margin:0;
	padding:0;
}

p {
	margin:0;
	padding:0;
}

a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}



/* RESOLUTIONS TABLETTES */
@media screen and (max-width:1024px) {

	#content {
	clear: both;
	overflow: auto;
	display:flex;
	flex-direction: column;
	}
	
}


/* RESOLUTIONS TABLETTES */
@media screen and (max-width:700px) {

	
}


/* RESOLUTIONS TELEPHONES */
@media screen and (max-width:480px) {

}
